@model EkdilosiEndiaferontsModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewData["Title"] = "Εκδήλωση Ενδιαφέροντος";
}

<main id="main-container">
    <!-- Page Content -->
    <div class="row g-0 justify-content-center bg-body-dark">
        <div class="hero-static col-sm-10 col-md-8 col-xl-6 d-flex align-items-center p-2 px-sm-0">
            <!-- Sign Up Block -->
            <div class="block block-rounded block-transparent block-fx-pop w-100 mb-0 overflow-hidden bg-image" style="background-image: url('assets/media/photos/photo12.jpg');">
                <div class="row g-0">
                    <div class="col-md-6 order-md-1 bg-body-extra-light">
                        <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                            <!-- Header -->
                            <div class="mb-2 text-center">
                                <a class="link-fx fw-bold fs-1" asp-controller="Home" asp-action="Index">
                                    <span class="text-dark">Intelli</span><span class="text-primary">Tickets</span>
                                </a>
                                <p class="text-uppercase fw-bold fs-sm text-muted">Εκδήλωση Ενδιαφέροντος</p>
                            </div>
                            @if (Model.SuccessfullySent) {
                                <div class="alert alert-success d-flex align-items-center" role="alert">
                                    <div class="flex-shrink-0">
                                        <i class="fa fa-fw fa-check"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <p class="mb-0"> @Model.Result</p>
                                    </div>
                                </div>
                            } else {
                                <form class="js-validation-signup" asp-controller="Account" asp-action="EkdilosiEndiaferonts" method="post">

                                    <div class="mb-4">
                                        <label asp-for="Name"></label>
                                        <input type="text" class="form-control form-control-alt" asp-for="Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label asp-for="SurName"></label>
                                        <input type="text" class="form-control form-control-alt" asp-for="SurName">
                                        <span asp-validation-for="SurName" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label asp-for="Email"></label>
                                        <input type="text" class="form-control form-control-alt" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="mb-4">
                                        <label asp-for="Phone"></label>
                                        <input type="text" class="form-control form-control-alt" asp-for="Phone">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>

                                    <div class="mb-4">
                                        <label asp-for="Issue"></label>
                                        <textarea class="form-control form-control-alt" asp-for="Issue" rows="4" placeholder="Πληκτρολογήστε το αίτημά σας..."></textarea>
                                        <span asp-validation-for="Issue" class="text-danger"></span>
                                    </div>

                                    <div class="mb-4">
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-terms">Όροι Χρήσης</a>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="signup-terms" name="signup-terms">
                                            <label class="form-check-label" for="signup-terms">Συμφωνώ</label>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <button type="submit" class="btn w-100 btn-hero btn-primary">
                                            <i class="fa fa-fw fa-plus opacity-50 me-1"></i> Αποστολή
                                        </button>
                                    </div>
                                </form>
                            }

                        </div>
                    </div>
                    <div class="col-md-6 order-md-0 bg-xwork-op d-flex align-items-center">
                        <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                            <div class="d-flex">
                                <a class="flex-shrink-0 img-link me-3" href="javascript:void(0)">
                                    <img class="img-avatar img-avatar-thumb" src="/media/avatars/avatar3.jpg" alt="">
                                </a>
                                <div class="flex-grow-1">
                                    <p class="text-white fw-semibold mb-1">
                                        The service was a valuable asset to improve our conversions and marketing efforts! Thank you!
                                    </p>
                                    <a class="text-white-75 fw-semibold" href="javascript:void(0)">Melissa Rice, CEO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Sign Up Block -->
        </div>

        <modal id="modal-terms" size="lg" center="true" title="Όροι Χρήσης">
            <modal-body>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, 
                    nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo 
                    arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur 
                    consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur 
                    tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus 
                    id leo dictum lorem, inceptos nibh orci.</p>
                <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, 
                    nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo 
                    arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur 
                    consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, 
                    curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi 
                    viverra luctus id leo dictum lorem, inceptos nibh orci.</p>
            </modal-body>
        </modal>

    </div>
    <!-- END Page Content -->
</main>

@section AfterContent{
    <script>

        $(document).ready(function()
        {
            $("#test-load").on("click",
                function()
                {
                    $.ajax({
                        url : "/Tickets/Details/36",
                        context : $("#ticket-details") //document.body
                    }).done(function(data)
                    {
                        $(this).html(data);
                        Dashmix.init();
                    });
                });
        });

    </script>
}