@{
    Layout = null;
    ViewData["Title"] = "Εκδήλωση Ενδιαφέροντος";
}
<!doctype html>
<html lang="el">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>@ViewData["Title"] - SportStoreAutoFac</title>

    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="~/css/dashmix.min.css">

</head>
<body>

<div id="page-container">

    <main id="main-container">

        <div class="row no-gutters justify-content-center bg-body-dark">
            <div class="hero-static col-sm-10 col-md-8 col-xl-6 d-flex align-items-center p-2 px-sm-0">

                <div class="block block-rounded block-transparent block-fx-pop w-100 mb-0 overflow-hidden bg-image" style="background-image: url('assets/media/photos/photo19.jpg');">
                    <div class="row no-gutters">
                        <div class="col-md-6 order-md-1 bg-white">
                            <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">

                                <div class="mb-2 text-center">
                                    <a class="link-fx text-warning font-w700 font-size-h1" asp-controller="Account" asp-action="Login">
                                        <span class="text-dark">Intelli</span><span class="text-warning">Tickets</span>
                                    </a>
                                    <p class="text-uppercase font-w700 font-size-sm text-muted">Password Reminder</p>
                                </div>

                                <form class="js-validation-reminder" action="be_pages_auth_all.html" method="post">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-alt" id="reminder-credential" name="reminder-credential" placeholder="Username or Email">
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-block btn-hero-warning">
                                            <i class="fa fa-fw fa-reply mr-1"></i> Άλλαγή Κωδικού
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-md-6 order-md-0 bg-gd-sun-op d-flex align-items-center">
                            <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6 text-center">
                                <p class="font-size-h2 font-w700 text-white mb-0">
                                    Don’t worry of failure..
                                </p>
                                <p class="font-size-h3 font-w600 text-white-75 mb-0">
                                    ..but learn from it!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>

</div>

<script src="~/js/dashmix.core.min.js"></script>

<script src="~/js/dashmix.app.min.js"></script>

<script src="~/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<script src="~/js/pages/op_auth_reminder.min.js"></script>
</body>
</html>