
@{
    ViewData["Title"] = "Client";
}



<div class="content">
    <div class="block block-rounded">
        <div class="block-content">
            <h1>Client</h1>
        </div>
    </div>
</div>