@model CampainsListModel
@{
    ViewData["Title"] = "FsCampains";
}

@*@section AfterContent{

}*@

<div class="row g-0 flex-md-grow-1">
    <div class="col-lg-5 col-xl-3 h100-scroll">
        <div class="content">
            <!-- Toggle Side Content -->
            <div class="row g-sm d-lg-none push">
                <div class="col-12 text-center mb-4">
                    <!-- Logo -->
                    <a class="fs-lg fw-semibold tracking-wide text-dark" href="/">
                        Dash<span class="opacity-75">mix</span>
                        <span class="fw-normal">Messages</span>
                    </a>
                    <!-- END Logo -->
                </div>
                <div class="col-6">
                    <!-- Toggle Sidebar -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout()-->
                    <button type="button" class="btn btn-primary w-100" data-toggle="layout"
                            data-action="sidebar_toggle">
                        <i class="fa fa-bars opacity-50 me-1"></i> Menu
                    </button>
                </div>
                <div class="col-6">
                    <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
                    <button type="button" class="btn btn-alt-primary w-100" data-toggle="class-toggle"
                            data-target="#side-content" data-class="d-none">
                        <i class="fa fa-envelope opacity-50 me-1"></i> Messages
                    </button>
                </div>
            </div>


            <!-- Side Content -->
            <div id="side-content" class="d-none d-lg-block push">

                <!-- Side Actions -->
                <div class="content-side content-side-full p-0 mb-3">
                    <button type="button" class="btn w-100 btn-sm btn-primary">
                        <i class="fa fa-plus opacity-50 me-1"></i> Νέο Αίτημα
                    </button>
                </div>

                <!-- Search Messages -->
                <form action="#" method="POST" onsubmit="return false;">
                    <div class="mb-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Αναζήτηση Αιτημάτων..">
                            <span class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>

                <!-- Sorting/Filtering -->
                <div class="d-flex justify-content-between mb-2">
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-link fw-semibold dropdown-toggle"
                                id="inbox-msg-sort" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Sort by
                        </button>
                        <div class="dropdown-menu fs-sm" aria-labelledby="inbox-msg-sort">
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-sort-amount-down me-1"></i> Newest
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-sort-amount-up me-1"></i> Oldest
                            </a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-link fw-semibold dropdown-toggle"
                                id="inbox-msg-filter" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Filter by
                        </button>
                        <div class="dropdown-menu dropdown-menu-end fs-sm" aria-labelledby="inbox-msg-filter">
                            <a class="dropdown-item active" href="javascript:void(0)">
                                <i class="fa fa-fw fa-asterisk me-1"></i> New
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-certificate me-1"></i> VIP
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="fa fa-fw fa-exclamation-circle me-1"></i> Important
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Messages -->
                <div class="list-group fs-sm">
                    @await Html.PartialAsync("_campains", Model)
                </div>
                <!-- END Messages -->
            </div>
            <!-- END Side Content -->
        </div>
    </div>

    <!--Details-->
    <div class="col-lg-7 col-xl-9 h100-scroll bg-body-dark">
        <div id="ticket-details" class="content"></div>
    </div>
</div>