@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">Products</h3>
            <div class="block-options">
                <div class="block-options-item">
                    <code>Buy Now!!!</code>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h2>Home Index</h2>
        </div>
    </div>
</div>
