@model TicketListModel
@{
    ViewData["Title"] = "Στέλεχος";
}
@section AfterContent{
    <!-- Page JS Plugins -->
    <script src="~/js/plugins/ckeditor5-classic/build/ckeditor.js"></script>

    <script>

        $(document).ready(function () {

            $(".list-group-item").on("click", function () {
                var id = $(this).attr("id").split("t-")[1];

                $.ajax({
                    url: "/Tickets/Details/" + id,
                    context: $("#ticket-details")//document.body
                }).done(function (data) {
                    $("#ticket-details").html("");
                    $("#ticket-details").html(data);

                    // Must reload Dashmix initialization in order to
                    // have Dashmix functionality
                    Dashmix.init();

                    // Load Reply Editor
                    Dashmix.helpers(['js-ckeditor5']);

                    // Hack to reload side menu functionality
                    Dashmix._uiHandleNav();
                    Dashmix._uiApiLayout();

                });
            });

            $("#new-ticket").on("click", function () {
                var id = $(this).attr("id").split("t-")[1];

                $.ajax({
                    url: "/Tickets/Create/",
                    context: $("#ticket-details")//document.body
                }).done(function (data) {
                    $("#ticket-details").html("");
                    $("#ticket-details").html(data);
                    Dashmix.init();

                });
            });
        });

    </script>
}

<div class="row g-0 flex-md-grow-1">
    @await Html.PartialAsync("_ticktesList", Model)
</div>

