.font-w700{
    font-weight:700 !important;
}
.font-w800 {
    font-weight: 800 !important;
}
.block {
    .block-header {
        padding: 0.3rem 1.25rem;
    }

    .block-content {
        padding: 1.25rem;

        h5 {
            font-size: 1rem;

            .small {
                color: #666;
                font-weight: 400;
                font-size: 80%;
            }
        }
    }
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}
.badge{
    a{
        color:#fff !important;
    }
}


.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: inline-block;

    &.red {
        background-color: red;
    }

    &.green {
        background-color: greenyellow;
    }

    &.blue {
        background-color: blue;
    }

    &.yellow {
        background-color: yellow;
    }
}

/*Scrolable Tickets List*/
.b-r {
    height: 100vh;
    overflow: hidden;
}

.margin_top_600px {
    margin-top: 600px;
}

.scrll_hide {
    float: right;
    height: 100%;
    width: calc(100% + 48px);
    overflow-y: scroll;
    margin: 0 -32px 0 0 !important;
    box-sizing: border-box;
}

/*Priority Css Icons*/
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}

.numberCircle2 {
    width: 18px;
    line-height: 14px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    border: 2px solid #666;
    display: inline-block;

    &.red {
        background-color: red;
        border: 2px solid red;
        color: white;

        &:after {
            content: "1";
        }
    }

    &.green {
        background-color: greenyellow;
        border: 2px solid greenyellow;
        color: black;

        &:after {
            content: "3";
        }
    }

    &.blue {
        background-color: blue;
        border: 2px solid blue;
        color: white;

        &:after {
            content: "2";
        }
    }

    &.yellow {
        background-color: yellow;
        border: 2px solid yellow;
        color: black;

        &:after {
            content: "4";
        }
    }
}