@model TicketListModel
    <div class="row g-0 fs-sm text-center my-3">
        <div class="col-3">
            <a class="fw-semibold" href="javascript:void(0)">
                <i class="fa fa-fw fa-eye opacity-50 me-1" style="color: red;"></i>Ανοικτά 643
            </a>
        </div>
        <div class="col-3">
            <a class="fw-semibold" href="javascript:void(0)">
                <i class="fa fa-fw fa-heart opacity-50 me-1" style="color: green;"></i>Σημερινά 45
            </a>
        </div>
        <div class="col-3">
            <a class="fw-semibold" href="javascript:void(0)">
                <i class="fa fa-fw fa-comments opacity-50 me-1" style="color: yellow;"></i>Μηνιαία 12
            </a>
        </div>
        <div class="col-3">
            <a class="fw-semibold" href="javascript:void(0)">
                <i class="fa fa-fw fa-comments opacity-50 me-1" style="color: blue;"></i>Ετήσια 12
            </a>
        </div>
    </div>